select, #modalConfirm-buttons, #box .cart-nums {
  width: 100%; }

.hasNoInfomation, #box .cart-nums, #hasNoProInCart {
  position: absolute; }

#modalConfirm-buttons {
  position: relative; }

.title {
  text-align: center; }

.cart-group-title .row {
  border-bottom: .05rem solid #e1e1e1; }

.buttons-tab .button,
.buttons-tab .button.active, #box .item-text, #box .item-after, .total_money .product-selMoney, #box .cart-product-custInfo .item-inner, .cart-proDetail-info a.item-content {
  color: #000; }

.product-unit {
  color: #cccccc; }

.buttons-tab, .oneBtn, #modalConfirm-buttons, #modalConfirm-buttons a, #modalConfirm-buttons .modal-button, .cartInfo, #cartListPage, #cartListPage .bottom_bar, #cartListPage .bottom_bar .row {
  background: #FFFFFF; }

.bar {
  background: #333333; }

.bar, .twoBtn {
  color: #FFFFFF; }

#box .item-after, #box .item-text, .product-price {
  font-size: 0.8rem; }

select, #modalConfirm-content, .hasNoInfomation, #cartListPage, #cartListPage .removeCartByCustomerID .item-after, #box .item-title {
  font-size: 0.7rem; }

.product-unit {
  font-size: 0.6rem; }

.bottom_bar {
  border-top: 1px solid #eeeeee;
  background: none; }
  .bottom_bar .button.button-big {
    height: 2.5rem;
    line-height: 2.5rem;
    border: none; }

.buttons-tab .button.active {
  color: #1792E5; }

.list-block {
  margin: 0; }
  .list-block .media-list .item-title {
    font-weight: 400; }

.home_title {
  font-size: 0.7rem;
  font-weight: 500; }

.title {
  padding-left: 0; }

.oneBtn {
  color: #000000;
  line-height: 2.5rem;
  border-radius: 0; }

.twoBtn {
  background-color: #000000;
  border: none;
  line-height: 2.5rem;
  border-radius: 0; }

.ws_label {
  color: #1792E5;
  margin: .8rem; }

i, em {
  font-style: normal; }

.borderBottom {
  border-bottom: .05rem solid #ccc; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none; }

.modal-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

#modalConfirm-title {
  text-align: left; }

#modalConfirm-content {
  padding: .5rem 0;
  text-align: left; }

#modalConfirm-buttons, #modalConfirm-buttons a {
  height: 2rem;
  line-height: 2rem; }

#modalConfirm-buttons a {
  display: inline-block;
  position: absolute;
  color: #0a8ddf;
  width: 40%; }

#modalConfirm-buttons #giveup-btn {
  left: 20%; }

#modalConfirm-buttons #sure-btn {
  right: 0; }

.hasNoInfomation {
  text-align: center;
  border-bottom: none;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 2rem;
  padding: 20px;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

.error {
  border-bottom: .1rem solid red; }

.cart-group-title .removeCartByCustomerID {
  min-height: 2.2rem; }

#cartListPage .removeCartByCustomerID .item-after {
  display: inherit;
  text-align: center;
  color: #1792E5;
  line-height: 2.2rem;
  min-height: 2.2rem; }

.top-title {
  border-top: .2rem solid #EFEFEF; }

#box label.label-checkbox {
  position: relative; }

#box .cart-nums {
  bottom: .2rem;
  padding-right: .8rem; }

.product-unit {
  font-weight: normal; }

.product-price {
  font-weight: normal; }

#box .cart-product-custInfo .item-inner, .cart-proDetail-info a.item-content {
  padding-left: 2rem;
  margin-left: 0; }

#hasNoProInCart {
  text-align: center;
  border-bottom: none;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 2rem;
  padding: 20px;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

#cartBar {
  display: none; }

.button {
  border: none; }

#cartListPage .bottom_bar, #cartListPage .bottom_bar .row {
  height: 2.9rem;
  line-height: 2.9rem; }

.ws_button .row {
  height: 2.9rem; }

.oneBtn {
  line-height: 1.1rem;
  text-align: left;
  padding-top: .2rem; }

.oneBtn em, .oneBtn i {
  display: block;
  color: #C0C0C0;
  font-style: normal; }

.oneBtn i {
  color: #000000; }

.total_money {
  padding-top: .2rem; }

.total_money em {
  display: inline-block; }

.bottom_bar .button.twoBtn {
  margin: .5rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 5px; }

.sm_total {
  text-align: right;
  line-height: 2.2rem;
  padding-right: 0.75rem; }

/*# sourceMappingURL=cart.css.map */
